@model Phoenix_Bakeries.Models.NewTransfer

@{
    ViewData["Title"] = "Transfer to New Beneficiary";
}

<hr />

<div class="row text-center">
    <div class="alert alert-success col-md-8" role="alert">
        Transaction Successful
    </div>
</div>
    